<ngx-loading [show]="loading" [config]="{backdropBorderRadius: '3px',backdropBackgroundColour: 'transparent',primaryColour: '#000',secondaryColour:'#000', tertiaryColour: '#000'}"
[template]="loadingTemplate"></ngx-loading>
<ul class="todo-list" data-widget="todo-list">
  <li *ngFor="let toDolist of toDo?.data"> 
    <!-- drag handle -->
    <span class="handle">
      <i class="fas fa-ellipsis-v"></i>
      <i class="fas fa-ellipsis-v"></i>
    </span>
    <!-- checkbox -->
    <div  class="icheck-primary d-inline ml-2">
      <input type="checkbox" value="" name="todo1" id="todoCheck1">
      <label for="todoCheck1"></label>
    </div>
    <!-- todo text -->
    <span class="text">{{toDolist?.description}}</span>
    <!-- Emphasis label -->
    <small class="badge badge-danger"><i class="far fa-clock"></i> {{toDolist?.framework_id}} mins</small>
    <!-- General tools such as edit or delete-->
    <div class="tools">
      <i class="fas fa-edit"></i>
      <i class="fas fa-trash-o"></i>
    </div>
  </li>
</ul>
