<!-- <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading> -->
<div *ngIf="userFlag">
    <header></header>
</div>
<!-- <div [ngStyle]="{'content-wrapper': 'userFlag'}" class="content-wrapper"> -->
    <div class="" [ngClass]="{'content-wrapper': userFlag}">

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="col-md-12">
                <div class="error-template">
                    <h1>
                        Oops!</h1>
                    <h2>
                        404 Not Found</h2>
                    <div class="error-details">
                        Sorry, an error has occured, Requested page not found!
                    </div>
                    <div class="error-actions">
                        <a href="javascript:void(0)" class="btn btn-primary btn-lg"><span
                                class="glyphicon glyphicon-home"></span>
                            Take Me Home </a><a href="javascript:void(0)" class="btn btn-default btn-lg"><span
                                class="glyphicon glyphicon-envelope"></span> Contact Support </a>
                    </div>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->

</div>
<div *ngIf="userFlag">
    <footer class="main-footer"></footer>
</div>
<!-- /.content-wrapper -->